USE [master]
GO
/****** Object:  Database [DbNotKayıt]    Script Date: 24.04.2025 16:30:42 ******/
CREATE DATABASE [DbNotKayıt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbNotKayıt', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DbNotKayıt.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbNotKayıt_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DbNotKayıt_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbNotKayıt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbNotKayıt]
GO
/****** Object:  Table [dbo].[Ogretmenler]    Script Date: 24.04.2025 16:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogretmenler](
	[OgretmenID] [int] IDENTITY(1,1) NOT NULL,
	[OgretmenAd] [nvarchar](50) NULL,
	[OgretmenSoyad] [nvarchar](50) NULL,
	[OgretmenSifresi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[OgretmenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLDERS]    Script Date: 24.04.2025 16:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDERS](
	[OGRID] [smallint] IDENTITY(1,1) NOT NULL,
	[OGRNUMARA] [char](4) NULL,
	[OGRAD] [varchar](15) NULL,
	[OGRSOYAD] [varchar](20) NULL,
	[OGRS1] [tinyint] NULL,
	[OGRS2] [tinyint] NULL,
	[OGRS3] [tinyint] NULL,
	[ORTALAMA] [decimal](18, 2) NULL,
	[DURUM] [bit] NULL,
	[OgrenciSifresi] [nvarchar](255) NULL
) ON [PRIMARY]
GO
USE [master]
GO
